body {
  font-family: Roboto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.left, .right {
  gap: 16px;
  color: white;
  margin: auto 100px;
}

.right {
  font-size: 18px;
  color: #ET5E7EB;
}

.left {
  font-size: 24px;
  color: #F9FAF8;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1F2937;
}

.footer {
  height: 72px;
  color: white;
  background-color: #1F2937;
  display: flex;
  justify-content: center;
  align-items: center;
}

.placeholder {
  width: 350px;
  height: 100px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.one {
  background-color: #1F2937;
  display: flex; 
  flex-direction: row;
  justify-content: space-between;
  color: white;
  flex: 1;
  padding: 100px;
}

.one_info {
  margin: auto 100px;
  display: flex;
  flex-direction: column;
}

.two {
  display: flex;
  justify-content: center;
  gap: 52px;
  flex: 1;
  margin: auto 100px;
  text-align: center;
  padding: 100px;
}

img {
  width: 80px;
  height: auto;
}

.third {
  display: flex;
  justify-content: center;
  background-color: #E5E7EB;
  flex: 1;
  align-items: center;
  size: 36px;
  color: #1F2937;
  font-weight: 300;
  text-align: left;
  font-style:italic;
  padding: 100px 400px;

}

.fourth {
  display: flex;
  justify-content: center;
  background-color: white;
  flex: 1;
  width: 100%;
  align-items: center;
  gap: 40px;
  background: royalblue;
  border: 1px solid royalblue;
  color: white;
  padding: 100px;
}

ul {
  display: flex;
  list-style: none;
  flex-direction: row;
  margin: 0px;
  padding: 16px;
  gap: 16px;
  font-size: 24px;
}

button.signup {
  background: royalblue;
  border: 1px solid royalblue;
  color: white;
}